.word{
    --text-color: #000;
    &.dark{
        --text-color: #fcf7ff;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 2rem;

        &__title{
            font-size: 2rem;
            font-weight: 800;
            color: var(--text-color);
            display: flex;
            flex-direction: column;

            &__pronunciation{
                font-size: 1rem;
                font-weight: 400;
                color: var(--color-accent);
            }
        }

        &__audio{
            cursor: pointer;
            color: var(--color-accent);
        }
    }
}